<!DOCTYPE html>
<html lang="en">
    <head>
        <title>quiz</title>
    </head>
    <body>
        <CENTER>
            <input type="text" id="question" name="question" value="" readonly style="position: absolute;top: 10%;right: 43%;border: 0px;" >
        </CENTER>
        <div>
            <input type="submit" id="answer1" name="answer1" value="" formaction="/answer1" style="position: absolute;top : 40%;right : 55%;height: 140px;width: 140px;">
        </div>
        <div>
            <input type="submit" id="answer2" name="answer2" value="" formaction="/answer2" style="position: absolute;top: 40%;right: 35%;height: 140px;width: 140px;">
        </div>
        <div>
            <input type="submit" id="answer3" name="answer3" value="" formaction="/answer3" style="position:absolute;top : 60%;right : 55%;height: 140px;width: 140px;">
        </div>
        <div>
            <input type="submit" id="answer4" name="answer4" value="" formaction="/answer4" style="position:absolute;top : 60%;right : 35%;height: 140px;width: 140px;">
        </div>
    </body>
</html>