<!DOCTYPE html>
<html lang="en">
    <head>
        <title>forgot password</title>
        <form method="post">
    </head>
    <body>
        <form method="post">
        <Center>
            <h1>enter an email to send to</h1>
            <div>
                <input type="tep" id="emailRecovered" name="emailRecovered" value="" autocomplete="off">
            </div>
            <div>
                <input type="submit" id="send" name="send" value="send" formaction="/send">
            </div>
            <div>
                <input type="submit" id="back" name="back" value="back" formaction="/back">
            </div>
        </Center>
    </body>
</html>