<!DOCTYPE html>
<html lang="en">
    <head>
        <title>get_in</title>

    </head>
    <body>
        <CENTER>
            <h1>sign in</h1>
            <form method = "post">
            <div>
                <input type="tep" id="email" name="email" value="" placeholder="email" autocomplete="off">
            </div>
            <div>
                <input type="password" id="password" name="password" value="" placeholder="password">
            </div>
            <div>
                <input type="submit" value="ENTER" name="enter" formaction="/quiz">
            </div>
            <div>
                <input type="submit" value="signin" name="signin" formaction="/signin">
            </div>
            <div>
                <input type="submit" value="forgot password" name="forgotPassword" formaction="/forgot_password">
            </div>
            </form>
        </CENTER>

    </body>


</html>