<!DOCTYPE html>
<html lang="en">
<head>
    <title>sign in</title>
</head>
<body>
    <form method = "post">
        <CENTER>
            <h1>sign in</h1>
        <div>
            <input type="tep" id="email" name="email" value="" placeholder="email" autocomplete="off">
        </div>
        <div>
            <input type="password" id="password" name="password" value="" placeholder="password">
        </div>
        <div>
            <input type="submit" value="ENTER" name="enter" formaction="/sigh_in">
        </div>
        <div>
            <input type="submit" id="back" name="back" value="back" formaction="/back">
        </div>
    </CENTER>
</body>
</html>