<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form method = "post">/start_quiz_dragon_ball.jpg
    <div>
        <image src="{{url_for('static', filename='/start_quiz_dragon_ball.jpg')}}" style="position: absolute;width: 2535px;height: 960px;">
    </div>
    <div>
        <input type="submit" id="startQuiz" name="startQuiz" value="" formaction="/quiz" style="position: absolute;top : 70%;right : 37%;height: 480px;width: 667px;border-radius: 0px;background:0px;color: 0;border: 0;">
    </div>
</body>
</html>

