<!DOCTYPE html>
<html lang="en">
    <body>
        <form method = "post">
            <div>
                <image src="{{url_for('static', filename='/won_image.jpg')}}" style="position: absolute;width: 2535px;height: 960px;">
            </div>
        <CENTER>
            <div>
                <input type="text" id="wonMessage" name="wonMessage" value="game over" readonly style="position: absolute;top: 10%;right: 30%;border: 0px;width:600px;background: 0px;color:rgb(255, 0, 0);font-size: 20px;" >
            </div>
            <div>
                <input type="submit" value="restart" name="restart" formaction="/restart" style="position: absolute;top: 50%;right: 40%;height: 150px;width: 150px;background-color: red;color:white;border: 0px;">
            </div>
            <div>
                <input type="submit" value="exit" name="exit" formaction="/exit" style="position: absolute;top: 50%;right: 60%;height: 150px;width: 150px;background-color: red;color:white;border: 0px;">
            </div>
        </CENTER>
    </body>
    
</html>